*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;

  background-color: #ffffff;
  cursor: default;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 0 20px;

  font-size: 24px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #5181b8;
  border: none;
  border-radius: 3px;
  outline: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

.button:focus-visible {
  box-shadow: 0 0 0 2px #333333;
}

.button:active {
  opacity: 0.4;
}

.button--green {
  color: #ffffff;
  background-color: #4bb34b;
}

.button--purple {
  color: #ffffff;
  background-color: #7160ff;
}

.button--purple-border {
  color: #7160ff;
  background-color: #ffffff;
  border: 2px solid #7160ff;

  transition: 0.2s ease-in-out;
}

.button--purple-border:hover,
.button--purple-border:focus {
  color: #ffffff;
  background-color: #7160ff;
  opacity: 1;
}

.button--purple-border:active {
  opacity: 0.6;
}

.button--error {
  color: #ffffff;
  background-color: #dc3545;
}

.error {
  display: block;
  margin-top: 10px;

  text-align: center;
  color: #dc3545;
}

.wrapper {
  max-width: 50%;
  min-width: 720px;
  margin: 100px auto;
}

.join {
  margin: 0 auto;
  width: 300px;
}

.join__label {
  display: block;
  margin-bottom: 15px;
}

.join__input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;

  font-size: 24px;
  line-height: 30px;
  color: #333333;

  border: 1px solid #333333;
  border-radius: 3px;
}

.join__label:last-of-type {
  margin-bottom: 25px;
}

.join__button {
  width: 100%;
}

.users {

}

.users b {
  display: inline-block;
  margin-bottom: 12px;
}

.users__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.users__item {
  margin-bottom: 12px;
  padding: 8px 14px;

  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 5px #dddddd;
}

.users__item:last-child {
  margin-bottom: 0;
}

.message {
  margin-bottom: 20px;
}

.message:last-of-type {
  margin-bottom: 0;
}

.message__text {
  margin: 0;
  margin-bottom: 2px;
  padding: 15px;
  padding-top: 10px;

  color: #ffffff;

  background-color: #7160ff;
  border-radius: 10px;
}

.message__username {
  font-size: 14px;
  color: #858585;
}

.chat {
  display: flex;
  height: 500px;

  border: 1px solid #cccccc;
  border-radius: 8px;
}

.chat__users {
  width: 250px;
  padding: 20px;

  background-color: #f6f9fa;
  border-right: 1px solid #cccccc;
}

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;

  background-color: #ffffff;
}

.chat__messages {
}

.chat__form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-top: 1px solid #cccccc;
}

.chat__textarea {
  display: block;
  width: 100%;
  min-height: 90px;
  padding: 10px 15px;
  margin-bottom: 10px;

  font: inherit;

  border: 1px solid #cccccc;
  border-radius: 3px;
  resize: none;
}

.chat__button {
  margin-left: auto;
  padding: 0 20px;

  font-size: 18px;
  line-height: 36px;
  font-weight: normal;
  text-transform: capitalize;

  border-radius: 10px;
}
